
.profileWrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #e1e1e1;
  color: #1e1e1e;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.profileWrapper h1, .profileWrapper h2 {
  font-weight: 400;
}

.profileWrapper h1 {
  font-size: 28px;

}

.profileSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px
}

.addTripContainer {
  width: 100vw;
  height: 55vh;
  background-image: url('./../../public/images/nyhavnbackground.jpg');
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-family: "Open Sans", sans-serif;
}

.createtrip {
  font-size: 1em;
  padding: 10px;
  width: 400px;
  background-color: rgba(216, 214, 196, 0.8);
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.createtrip a {
  text-decoration: none;
  color: #141414;
}

.plusIcon {
  font-size: 2em;
  color: rgb(33, 41, 54);
  padding: 10px;
  border-radius: 10px;
}

.favoritesProfile {
  width: 1024px;
  box-sizing: border-box;
  overflow: scroll;
  display: flex;
  flex-direction: row;
}

.favtrips {
  display: flex
}

.favtrips button {
  border: 1px solid whitesmoke;
  color: whitesmoke;
  padding: 3px;
  font-size: 15px;
  background-color: rgba(33, 41, 54, 0.7);
}


.proftrip {
  max-width: 20vw;
  min-width: 20vw;
  height: 70vh;
  border: 1px solid rgb(176, 178, 202);
  margin: 5px;
  padding: 15px;
  background-color: rgba(33, 41, 54, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(234, 237, 241);
  box-sizing: border-box;
}

.proftriptitle {
  font-family: "Domine", serif;
  font-size: 18px
}



.proftrip img {
  max-width: 18vw;
  max-height: 30vh
}

.profbuttons {
  display: flex;
  gap: 30px
}

.profbuttons i {
  color: whitesmoke;
  font-size: 20px
}
