.container {
  max-width: 75vw;
}

.container .carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
}

.container .carousel::-webkit-scrollbar {
  display: none;
}

.container .carousel img {
  width: 350px;
  height: 300px;
  padding: 0px;
  margin: 0px;
  object-fit: cover;
}

.container .buttons {
  width: 100%;
  text-align: center;
}

.carouselBtns button.chevron {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 2em;
}

img {
  max-width: none;
}
