.tripsbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1e1e1;
    font-family: "Open Sans", sans-serif;

}

.tripsbody .pagetitle {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: rgb(53, 52, 52);
  font-weight: lighter;
}

.tripsbody h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    color: rgb(53, 52, 52);
    font-weight: lighter;
}


.searchbar {
    display: flex;
    margin: 5px
}

.instruct {
    color: rgb(48, 47, 47)
}

.tripscontainer {
    display: flex;
    max-height: 90vh; 
    width: 95vw;
    padding: 5px;
    overflow: scroll;
  }
  
  .trip {
    max-width: 20vw;
    min-width: 20vw;
    margin: 10px;
    padding: 10px;
    background-color: rgba(37, 50, 71);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(234, 237, 241);
  }

  .trip p {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: rgb(234, 237, 241);

  }

  .title {
    font-family: 'Domine', serif;
    font-size: 20px;
    color: rgb(234, 237, 241);

}
  
  .trip img {
    max-width: 19vw;
    max-height: 15vw
  }
  
  .daynumber, .trip a {
    text-decoration: none;
  }
  
  .search {
    width: 40vw;
    height: 2vw;
    padding: 4px;
    font-style: italic;
    font-size: 16px;
    background-color: #e1e1e1;
    border: 2px solid rgb(190, 97, 61);
  }
  
  .catfilters {
    display: flex;
    flex-wrap: wrap;
    max-width: 40vw;
    justify-content: center;
    gap: 5px;
    margin: 10px;
    color: rgb(48, 47, 47)
  }


  
  .toggleBtn {
    background-color: #e1e1e1;
    font-size: 15px;
    margin: 5px;
    border-style: none;
    color: rgb(190, 97, 61)
  }

  .filters {
      display: flex;
      justify-content: space-between;
      gap: 20px
  }


.duration {
  width: 40px;
  height: 30px;
  padding: 2px;
  font-size: 16pt;
  font-weight: bold;
  color: rgb(190, 97, 61);
  font-size: 20px;
  background-color: #e1e1e1;
  border: 2px solid rgb(190, 97, 61);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
